[2014-05-18 23:32] msakrejda opened #2 "Requires trust permissions on localhost"
The current configuration requires `trust` permissions on localhost for setting up and destroying the database because of the `DATABASE_URL` used [in this task](https://github.com/12-oz/pliny-gem/blob/master/lib/pliny/tasks/db.rake#L44). Does `postgres:///postgres` work on OS X? In most drivers (at least on Ubuntu), this will use Unix domain sockets instead of localhost, and allows `ident` authent

[2014-05-22 21:42] flacoste opened #5 "Access to log context"
Would be nice if the Pliny log helper offered an easy way to add context to the log. It can be done indirectly by stashing variables in the RequestStore, but making the log_context method not private would be a step up.

An alternative might be to offer a context method like the one in scrolls which define block context.

[2014-06-02 16:47] pedro opened #9 "Moving repo!"
Sorry folks, this should be the last time: We're moving Pliny (both the template and gem) to the [interagent org](https://github.com/interagent), which is where all the tooling and documentation that Pliny aims to encapsulate live (see [Prmd](https://github.com/interagent/prmd), [Committee](https://github.com/interagent/committee) and [HTTP API design](https://github.com/interagent/http-api-design

[2014-06-02 16:47] #9 closed, assigned to nobody

[2014-06-06 16:21] neilmiddleton opened #12 "Problems with sidekiq"
This _should_ work within `routes.rb`:

[code]

However, sidekiq just 404's.  What are missing here?

[2014-06-06 16:45] #2 closed, assigned to nobody

[2014-06-06 19:29] #12 closed, assigned to nobody

[2014-06-07 20:55] tmaier opened #16 "endpoint_scaffold.rb should use Serializer generated"
`Pliny::Commands::Generator` generates an endpoint and a serializer.

But the endpoint https://github.com/interagent/pliny/blob/master/lib/pliny/templates/endpoint_scaffold.erb#L40-L46 defines its own `serialize` method

Beside this the serialize template should have at least `created_at`, `id` and `updated_at` included

[2014-06-10 11:36] morhekil opened #17 "DB-independent version of pliny - any interest?"
Hello,

I really like pliny's template, but lately I often find myself working on either non-DB-backed APIs, or on APIs using different DBs and approaches (say, with Redis in the background). I forked and build my own version of pliny, that doesn't have any db dependencies in it, but I wonder if there's any interest from you in including this kind of functionality in pliny itself.

I understand th

[2014-06-10 12:47] tmaier opened #18 "App.root does not exist in endpoint_scaffold_acceptance_test.erb"
https://github.com/interagent/pliny/blob/master/lib/pliny/templates/endpoint_scaffold_acceptance_test.erb

[2014-06-10 13:50] tmaier opened #19 "Order in Initializer.run"
Current order in `Initializer.run` is:

[code]

If you have an initializer, like `config/initializers/sequel.rb` with, for example

[code]

it would run to late to modify the model (`require_lib` required all models) and much to late to load the database extensions (`initialize_database` built already the db connection).

[2014-06-10 21:30] tmaier opened #20 "Mention The Mediator Pattern"
This might be obvious for you guys. But for one working the first time according to your style a post like http://brandur.org/mediator helps very much.

Please add it and other relevant posts to a reading list in the README.

[2014-06-11 05:34] #20 closed, assigned to nobody

[2014-06-11 07:59] tmaier opened #21 "params is empty in endpoint_scaffold.erb"
https://github.com/interagent/pliny/blob/master/lib/pliny/templates/endpoint_scaffold.erb
uses `params` which is empty.

So something basically like

[code]

or

[code]

(uses `JSON.parse`)
https://github.com/rack/rack-contrib/blob/master/lib/rack/contrib/post_body_content_type_parser.rb

would be helpful

[2014-06-11 21:44] neilmiddleton opened #25 "Weird casing behaviour"
[code]

results in:

[code]

which isn't great (note the **A**tist casing).  I went to fix this and noticed that `#name` in `Pliny::Commands::Generator` is already down-casing so unsure what's happening here.

[2014-06-12 09:38] #17 closed, assigned to nobody

[2014-06-12 23:21] #19 closed, assigned to nobody

[2014-06-13 00:49] #25 closed, assigned to nobody

[2014-06-13 12:32] #21 closed, assigned to nobody

[2014-06-16 16:48] brandur opened #34 "Remove versioning middleware output cruft from tests"
Might be a problem with stubbing out Pliny's log method.

[code]

[2014-06-20 13:49] tmaier opened #42 "Use grouping in specs template"
Related to #18.

I would prefer a bit more verbose specs

[code]

If we use subject or not is not important for me. Only the grouping.

[2014-07-02 21:02] msakrejda opened #47 "Support app namespace module"
I decided that I wanted my app code namespaced in a module, but the pliny generator commands don't support this. I end up wrapping things in `module Foo ... end` manually, and I inevitably miss something and things break. Could the generator support this out of the box, perhaps optionally?

[2014-07-03 21:52] #18 closed, assigned to nobody

[2014-07-04 07:45] #42 closed, assigned to nobody

[2014-07-14 15:03] #16 closed, assigned to nobody

[2014-07-17 13:17] neilmiddleton opened #52 "Puma IO Error"
I'm seeing this across a few Pliny codebases on shutdown:

[code]

No idea what this is right now, but logging it so it's logged.  This may be a `pliny-template` config problem more than anything.

[2014-07-19 21:12] msakrejda opened #54 "Error response bodies swallowed somewhere"
I was having this issue in another app and decided to try to reproduce a minimal test case. I generated a new app and added a `test` endpoint, changing its `get /tests` handler to the following:

[code]

If I call this endpoint, I get the expected error, but no body:

[code]

/cc @brandur -- no rush, but this is the issue I was running into on Friday--looks like it is something in pliny after all.

[2014-07-21 23:07] #54 closed, assigned to nobody

[2014-08-07 04:20] cdolan opened #59 "Support for MySQL"
I would like to add support for MySQL in Pliny. But before jumping into working on this, I'd like to get some feedback whether this would be a beneficial addition.

[2014-08-11 10:00] tmaier opened #61 "Support caching with Etags"
https://github.com/interagent/http-api-design#support-caching-with-etags
- `Rack::ETag` https://github.com/rack/rack/blob/master/lib/rack/etag.rb AND/OR
- Sinatra `etag` with `@user.hash`

[2014-08-14 20:51] schneems opened #63 "PG::UndefinedFunction: ERROR: function uuid_generate_v4() does not exist"
When running db:migrate I get this error

[code]

Maybe this should be added to the first migration?

[code]

[2014-08-19 14:22] neilmiddleton opened #65 "No convenient way to reload!"
I'm spending a bunch of time in console while getting code working.

Right now there is no obvious way to reload everything in the existing session, i.e like Rails's `reload!`.

[2014-08-21 18:52] jnv opened #66 ".env file is ignored in development"
When I create a blank app and run `bin/setup` to create `.env` and databases, running an application through `rackup` or executing commands fail due to `DATABASE_URL` missing, even though the variable is defined in `.env`.

Looking closer at the source, it seems that `.env` is not being actually parsed anywhere, except for `.env.test` within Rake tasks and the spec_helper.

How do you handle .env

[2014-08-21 20:58] #66 closed, assigned to nobody

[2014-08-22 08:41] tmaier opened #67 "Mention foreman run in README"
#66, https://github.com/interagent/pliny-template/issues/127 and https://github.com/interagent/pliny-template/pull/128 are all results of forgetting to use `foreman run` in development.

We should mention it properly in the README.

[2014-08-25 19:54] #67 closed, assigned to nobody

[2014-11-05 00:12] #34 closed, assigned to nobody

[2014-11-05 02:30] pedro opened #92 "Pliny exceptions getting logged to Rollbar"
Rollbar is injecting its Rack::Builder middleware in a way that it's getting precedence over `Pliny::Middleware::RescueErrors`. This means that internal Pliny exceptions like `Unauthorized` are getting logged before we rescue and convert them into a proper http response.

[2014-11-06 00:52] pedro opened #94 "Lets merge the template back here?"
Hey folks,

Time to come full circle: how about we just keep the template on this repo instead of the submodule?

I think things are a bit confusing now – it's hard to know where to open issues, changes constantly need two matching pull requests, releases tag two repos, etc.

[2014-11-13 09:12] fdr opened #98 "Common need wants a pattern: encrypting database fields"
and with key rotation, which seems to be the place where most existing approaches fall down. @deafbybeheading was compelled to write new software because of this noteworthy defect in most or all others: https://github.com/deafbybeheading/attr_vault.  Not sure how much of it is general and how much was get-the-job-done.  Also, bugs.

[2014-11-26 09:38] tomclose opened #99 "PG::ConnectionBad: could not connect to server"
I'm trying to get pliny to run with the boxen-installed postgres instance on my macbook. I've updated the `DATABASE_URL` in `.env` and `.env.test` to match the `BOXEN_POSTGRESQL_URL`:

[code]

However, when I run `bin/setup` I get the following error at the `rake db:setup` stage:

[code]

[2014-11-26 10:06] tomclose opened #101 "Bad file descriptor @ fptr_finalize"
I was getting the above error when running `foreman start`. It was fixed by running

[code]

as described [here](https://github.com/marcandre/backports/issues/86).

Full error for reference:

[code]

[2014-11-26 10:07] #101 closed, assigned to nobody

[2014-12-01 00:05] #94 closed, assigned to nobody

[2014-12-01 00:57] #99 closed, assigned to nobody

[2014-12-26 13:42] jnv opened #111 "Object::Config is not defined in MRI 2.2.0"
config_helpers file [attempts to remove](https://github.com/interagent/pliny/blob/8a4cd6220e8e96849ed09a7b8410ec333c55e879/lib/pliny/config_helpers.rb#L86) the `Config` constant due to a deprecation warning in earlier versions of MRI. In MRI 2.2.0 the constant is finally removed, but this breaks Pliny under 2.2.0 with NameError (constant Object::Config not defined).

The line should check whether

[2014-12-29 11:28] #111 closed, assigned to tmaier

[2015-01-05 19:04] brandur commented on #111
Nice catch and fix guys! Thanks.

[2015-01-05 19:53] neilmiddleton commented on #111
Can we post a release so I can use this on 2.2.0?  It doesn't appear that this is in the latest tag.

[2015-01-05 23:35] will opened #114 "ruby 2.2.0 error"
Tried updating to 2.2.0, and got this:

[code]

[2015-01-06 00:00] brandur commented on #114
@will +1! Our bad. See #111 for now.

[2015-01-06 00:00] #114 closed

[2015-01-06 00:08] will commented on #114
Oh, I looked through the open issues before making a new one, but it was closed so I didn't see it.

[2015-01-06 00:10] brandur commented on #111
@neilmiddleton Yep! Pushed 0.6.0. Let us know if you run into any other issues.

/cc @will

[2015-01-06 10:42] neilmiddleton opened #115 "Prmd dependency"
Are there any reasons for the explicit dependency on prmd 0.6.1?

[2015-01-06 11:01] tmaier commented on #115
Yes, API incompatibility of v0.7.0. See #96

[2015-01-06 16:23] nzoschke opened #117 "0.6 pliny-new broken"
[code]

[2015-01-06 16:24] nzoschke commented on #117
PR #113 fixes this.

[2015-01-06 16:40] brandur commented on #117
#113 is in! Closing this out.

[2015-01-06 16:40] #117 closed

[2015-01-07 00:32] dmcinnes commented on #63
I believe this should be fixed with the latest release

[2015-01-20 09:53] isaiah opened #119 "JRuby support"
Is there any plan to support jruby? As far as I can see, the only change required is to remove the `pg` dependency.

[2015-01-20 18:28] brandur commented on #119
@isaiah We hadn't really planned on making it a first class citizen any time soon because we don't really have a lot of internal consumers, but it seems like a good idea if there's a lot of interest. Is this something that you want to see?

[2015-01-23 11:22] isaiah commented on #119
Yes, that would be great.

[2015-02-04 20:18] soulim opened #126 "Foreman dependency"
Hey guys!

Thank you a lot for the awesome project! Could you tell me why foreman gem isn't mentioned in `Gemfile` as a development dependency? Is that your internal convention and foreman is some kind of default tool like bundler? I mean this `Gemfile` https://github.com/interagent/pliny/blob/master/lib/template/Gemfile.

I guess it would be nice to automatically install foreman with other gems w

[2015-02-04 20:43] soulim opened #127 "Unable to load application: NameError: uninitialized constant Rollbar::Middleware"
A newly generated app doesn't want to start because of `NameError` exception in `lib/routes.rb` file.
When I explicitly require `rollbar/middleware/sinatra` everything runs perfectly.

So my `lib/routes.rb` looks like this:

[code]

Would you allow a pull request with this tiny fix? Or maybe there's a better place where I should require Rollbar middleware. I just started playing with Pliny and mig

[2015-02-12 14:00] #65 closed

[2015-02-12 14:01] #52 closed

[2015-02-12 14:01] #115 closed

[2015-02-12 14:03] neilmiddleton commented on #127
I don't have Rollbar in my routes (or anywhere for that matter).  I simply created an initializer for Rollbar and everything seems to work fine.

`config/initializers/rollbar.rb`:
[code]

[2015-02-12 14:22] soulim commented on #127
@neilmiddleton does that also mean you don't have `use Rollbar::Middleware::Sinatra` in routes?

Without `require 'rollbar/middleware/sinatra'` in my routes, puma can't preload the app and it fails with `"Unable to load application: NameError: uninitialized constant Rollbar::Middleware"`.

[2015-02-12 21:38] nzoschke commented on #127
A change to the Gemfile can fix it too...

[code]

[2015-02-13 08:51] soulim commented on #127
Nice idea @nzoschke!

[2015-02-13 20:14] brandur commented on #126
Hey @soulim! Sorry about the delayed reply here.

So the the main reason is that the space of process runners is a little up in the air. Foreman was the traditional solution, but since has been largely dropped in favor of [forego](https://github.com/ddollar/forego), and also [dotenv](https://github.com/bkeepers/dotenv) which is a lighter-weight solution preferred by some.

[2015-02-13 22:08] brandur commented on #127
Added Noah's suggested fix in #130. That file immediately requires the main `rollbar`, so Neil's call to Rollbar's configuration block in the initializer should stay safe as well.

Thanks guys!

[2015-02-16 11:37] soulim commented on #126
Thank you for the explanation @brandur! Going to play with forego as well :smile:
Will close this issue because you answered on my question on 100%.

[2015-02-16 11:37] #126 closed

[2015-02-16 11:43] soulim commented on #127
Thank you @brandur!

[2015-02-28 18:18] yesmeck opened #132 "Incongruous RSpec expectation config"
Rspec expectation is configured to minitest in this line https://github.com/interagent/pliny/blob/master/lib%2Ftemplate%2Fspec%2Fspec_helper.rb#L39, but the spec template still using RSpec syntax.

[2015-03-03 21:29] brandur commented on #132
@yesmeck Excellent point. This should be fixed by #133, but let me know if you find anymore instances of it. Thanks!

[2015-03-03 21:47] #132 closed

[2015-03-18 16:36] #127 closed

[2015-03-18 18:05] kennyp opened #136 "Schema Path Wrong On Scaffold"
Looks like the wrong schema path is used on scaffold. It uses `/docs/schema.json` instead of `/schema/schema.json`

To reproduce I ran:

[code]

If I do add

[code]

I then get a `"Content-Type" response header must be set to "application/json"`

After that if I add

[code]

everything works as expected

These are probably different parts all not playing nice together. I know the last one comes fr

[2015-03-19 22:11] brandur commented on #136
@kennyp Hey, thanks for the bug report! #139 should fix the first problem that you mentioned.

Regarding the one relating to content types, this bug was recently patched in Committee in interagent/committee#67. Can you try a `bundle update committee` and see if you can get 1.7.1. Thanks!

[2015-03-19 22:13] #136 closed

[2015-03-19 22:33] kennyp commented on #136
Hey @brandur
I pulled down the latest pliny and it fixed the rollbar and schema.json issues, but even with committee 1.7.1 I still get the content type bug.

[2015-03-19 22:36] kennyp commented on #136
Here's my updated test script script:

[code]

[2015-03-19 23:27] brandur commented on #136
@kennyp Ouch, I'd forgotten that we hadn't actually pulled in interagent/committee#70.

Can you try updating to Committee 1.7.2? I just did and your test script passes for me now.

[2015-03-20 04:19] kennyp commented on #136
:+1: Works like a champ now. Thanks @brandur

[2015-03-20 04:21] kennyp commented on #92
@pedro Looks like they merged your PR. What do we need to change to get this issue closed?

[2015-03-20 04:23] kennyp commented on #63
:+1: I think we're good on this one now.

[2015-03-21 16:11] johnbeynon commented on #63
I've just tried this with a new 0.7.3 app and it still doesn't deploy to Heroku cleanly - https://gist.github.com/johnbeynon/b687826ab82752bea863

[2015-03-21 17:53] brandur commented on #63
@johnbeynon Ugh, I think we need to clarify the docs, but `bin/setup` is more suitable for local development than for platform deployment. One of the things it does is try to bring up a Postgres database for you by attaching to your locally running Postgres daemon (obviously impossible on a dyno).

Try this instead:

[code]

[2015-03-21 17:58] johnbeynon commented on #63
Yeah, that definitely works. I made the mistake of migrating first but then the uuid function didn't exist for the primary keys.

On Sat, Mar 21, 2015 at 10:53 AM -0700, "Brandur" <notifications@github.com> wrote:

@johnbeynon Ugh, I think we need to clarify the docs, but bin/setup is more suitable for local development than for platform deployment. One of the things it does is try to bring up a P

[2015-03-26 01:36] pedro commented on #92
Nothing :} @brandur nailed this down on 1dba7342329ab084e8d742dce6d3decebf3911dc, happy to report I couldn't reproduce the original issue on a new Pliny app.

Thanks!

[2015-03-26 01:36] #92 closed

[2015-03-30 22:24] kch opened #141 "Timeout middleware should not exist or at least not be used by default"
Because timing out a thread at any random point is inherently unsafe… e.g. causing state corruption in non-atomic changes.

Cf. [rack-timeout's readme](https://github.com/heroku/rack-timeout) and [this detailed explanation by Charles Nutter](http://headius.blogspot.de/2008/02/rubys-threadraise-threadkill-timeoutrb.html).

So timing out dangerously should be an active choice by the developer, and i

[2015-03-31 22:28] #141 closed

[2015-04-29 22:23] rwz opened #157 "Mediators and Serializers are classes"
I was assuming `Mediators` and `Serializers` are module namespaces. Turns out they're both classes.

¯\\\_(ツ)_/¯

Is there a reason for this? Is user supposed to be able to instantiate them?

[2015-04-30 19:52] pedro commented on #157
wow – absolutely no reason that I'm aware, good catch :}
if you want to take a stab open a PR to fix, or we can take a look!

[2015-05-04 17:41] #157 closed

[2015-05-15 23:14] rwz opened #161 "Remove hard dependencies on pg/sequel"
Pliny generates a template with `pg` and `sequel` gems by default and that's totally fine. However you can't completely remove these gems from your dependencies because `pliny` gem itself has them in its runtime dependencies. I don't see a reason for that.

User should be able to remove unused DB code from the app.

[2015-05-15 23:36] #161 closed

[2015-05-19 07:29] dmathieu opened #164 "Filter incoming params"
We currently don't have any way of filtering incoming parameters, which ends up in several apps not doing so at all, and a potential for security issues.
This issue is here to discuss a parameters filtering middleware that would allow solving that problem.

My idea -heavily inspired by how [rails' StrongParameters](http://api.rubyonrails.org/classes/ActionController/StrongParameters.html) works wo

[2015-05-19 17:26] pedro commented on #164
Hey Damien!

I totally see the case for this, but I think StrongParameters provides a subset of what you'd get with JSON Schema: while it allows you to define which params are required and which are allowed, JSON Schema will go further and also allow you to define param types, examples, documentation, etc.

So do you think there's a case for both existing, or do we just need to provide better exam

[2015-05-19 17:41] dmathieu commented on #164
https://github.com/fge/json-schema-validator/wiki/v5:-strictProperties

[2015-05-19 17:41] #164 closed

[2015-05-19 17:47] neilmiddleton commented on #164
Would pliny be able to enforce the params outlined in JSON schema though?

[2015-05-19 18:24] pedro commented on #164
That's where [committee](https://github.com/interagent/committee) comes in!
We should add it to the template so it's clear how to integrate, but it's as simple as adding a middleware.

[2015-05-20 12:07] brandur commented on #164
+1 guys. Who knows if it's the right thing, but the basic idea here is that Committee will use your schema to perform strong parameter validation before the request ever hits one of your endpoints, allowing you to be very optimistic that everything is well-formed.

[2015-05-27 23:53] rhyselsmore opened #167 "rake db:rollback not working"
Appears to be a regression in the latest version (0.8) when running rake db:rollback.

The migration doesn't actually run for some reason.

I'm trying to get to the bottom of why.

[2015-05-28 00:35] pedro commented on #167
Talked to @rhyselsmore – I ran into this recently too, just didn't send a patch before because I was having trouble to write tests. Anyways, should be fixed in #168 – in the meantime db:reset will do.

[2015-05-28 00:42] rhyselsmore commented on #167
:dancers: :+1:

[2015-07-02 21:45] #167 closed

[2015-07-06 21:13] duduribeiro opened #180 "Support for MongoDB"
Is it the plan of pliny to allow the use of mongodb as optional resource?
If so, I'm changing some items to use on my current project and open a PR for it.

Thanks so much. :beers:

[2015-07-08 20:20] pedro commented on #180
Oi Kadu :}

We unfortunately don't have plans to support Mongo (nor other relational databases fwiw). Pliny is more like the embodiment of our favorite practices and approaches to writing an API than a regular framework that supports a range of technologies. Knowing exactly what is the data store and how it behaves allows us to make some conveniently blunt calls on how to use and operate it.

That

[2015-07-08 20:20] #180 closed

[2015-07-14 00:56] pedro commented on #98
Hey folks,

I've been writing some Pliny docs (about time!). Check it here:
https://github.com/interagent/pliny/wiki

I think encryption would make it for a great topic for the "Extending" section, if anyone wants to take a stab.

It's probably also worth mentioning Fernet – which makes me wonder, why doesn't attr_vault just let Fernet handle the actual encryption?

[2015-07-14 02:47] uhoh-itsmaciek commented on #98
@pedro awesome! And `attr_vault` basically does use the same crypto as Fernet: it just omits the ttl (which is generally pretty useless when actually storing data), and the Base64 encoding (which is unnecessary since Postgres has perfectly good support for binary data--though [watch out for [this outstanding pg issue](https://bitbucket.org/ged/ruby-pg/issue/220) which has been fixed and will be in

[2015-07-14 07:47] ys commented on #98
I am using `attr_vault` in Limerick.
I would change one thing only, the config vars using json is something I would update.
Otherwise it is a great one for this.

[2015-07-14 07:54] uhoh-itsmaciek commented on #98
@ys update how? The metadata in the keyring is important. I guess I can wrap the whole in Base64 maybe? But please file an issue on that project and propose alternatives there. In fact, here: I made one for you https://github.com/uhoh-itsmaciek/attr_vault/issues/14

[2015-07-14 07:58] ys commented on #98
Let me take a look and come with an idea:)
This is my only issue with it.

[2015-07-15 17:05] pedro commented on #5
Oops, sorry we dropped the ball here, @flacoste!

But happy to say these improvements are in:
https://github.com/interagent/pliny/wiki/Logging#default-log-attributes

Thanks,

[2015-07-15 17:05] #5 closed

[2015-07-15 17:07] pedro commented on #63
`bin/setup` should now work in prod (see #184)
thanks folks!

[2015-07-15 17:07] #63 closed

[2015-07-21 16:33] mathias opened #189 "Thor required arguments don't seem to be required."
[code]

These commands are Thor actions, which indicates that the name should be required at the Thor level: https://github.com/erikhuda/thor/wiki/Getting-Started#task-parameters

I'm hesitant to add logic here if Thor is supposed to fail the task for us. Thoughts? Could it be because we're not inheriting from Thor correctly? Looking at the Thor docs, it seems correct, but we aren't taking advanta

[2015-07-22 00:58] pedro commented on #98
@uhoh-itsmaciek got it! attr_vault looks super promising then. I take you folks are already using it in prod?

If you want to write some docs in the repo I can take a stab at the Pliny guide, lemme know!

[2015-07-22 01:30] pedro commented on #189
AH! It's because of the method signature.

See https://github.com/interagent/pliny/pull/190

[2015-07-22 02:06] uhoh-itsmaciek commented on #98
@pedro yeah, we're using it in Shogun (and possibly other places) and other than the `ruby-pg` issue mentioned above and my lack of docs, it's been pretty seamless. I'm doing some cleanup and docs now.

[2015-07-22 02:35] uhoh-itsmaciek commented on #98
@pedro btw, any tips for documenting a Ruby library like this? My first pass will just be going over usage in the README, but wondering if you know of libraries with clear, simple, idiomatic Ruby docs. I guess in my experience, I usually go for the README of whatever gem I'm using--maybe that's enough here?

[2015-07-22 15:34] cefigueiredo opened #192 "Scaffold generates schema with NAME definition but don't generate that attribute on migrations/serializers"
The main purpose here is discuss if a name definition should be really presumed to exist on migrations/serializers/schema template.

Today, when we use scaffold to generate an endpoint/model/schema/serializer its schema presumes that an attribute name should be serialized, but that attribute is not included on the migration neither on the serializer.
So, when we run the acceptance test, an Invalid

[2015-07-23 00:28] pedro commented on #98
@uhoh-itsmaciek can't claim to know much about this, but [excon](https://github.com/excon/excon) and [dotenv](https://github.com/bkeepers/dotenv) come to mind when I think of good docs I used recently-ish!

Most of the gems we use are unsurprisingly well documented – probably some correlation there. But [rr](https://github.com/rr/rr) really messed it up when they changed the docs to become a mix o

[2015-07-23 00:40] bjeanes commented on #98
Yeah and the first result in google is the wrong repo, which always gets me too. So bad >.<

[2015-07-27 19:20] cyberdelia opened #194 "seed.rb comment is misleading"
A Sequel database connection can be obtained via Sequel::Model.db

If you're running ``rake db:seeds`` against multiple database, ``Sequel::Model.db`` will point to the first database it connect to, resulting in running SQL against the same database against. A workaround is to use ``db = Sequel::DATABASES.last``.

[2015-07-27 21:09] brandur commented on #194
Added a fix for the comment in b4132a3.

This is a great find though; we'd never intended it to be so janky. I wonder if we should switch to some kind of method-based model. For example:

[code]

[code]

Thoughts @cyberdelia?

[2015-07-27 21:16] cyberdelia commented on #194
Looks more sane, since the last alternative is to expose some sort of global var.

[2015-07-30 15:34] Papipo commented on #119
Indeed it would be great :+1:

[2015-08-04 19:52] fdr opened #196 "db:dump should dump data"
https://github.com/interagent/pliny/blob/master/lib/pliny/tasks/db.rake#L89

When one has a some seed data added via migrations over time, it conflicts poorly with the schema-only dump done here.

It would be better if a fresh database were prepared, migrated, and then dumped *with* data. This would also avoid the special code here to keep track of migrations specially.

[2015-08-05 00:53] cyberdelia opened #197 "Running migrations before running tests"
It would be lovely if [before running the tests](https://github.com/interagent/pliny/blob/master/spec/spec_helper.rb#L20), the `spec_helper` would ensure all migrations have been ran against the test database. It's a nice way to ensure tests run against the latest schema.

[2015-08-05 12:40] DyegoCosta opened #198 "Migration wiki page"
___Can we use the text bellow for the [Migration wiki page](https://github.com/interagent/pliny/wiki/Migrations)? Any suggestion to improve it?___

You can use use the [migration generator](https://github.com/interagent/pliny/blob/master/lib/pliny/commands/generator/migration.rb) to create a new Sequel migration to modify your database schema.

Create a new migration like:

[code]

It will create

[2015-08-05 13:49] DyegoCosta commented on #197
@cyberdelia did you mean to add it to the [template spec_helper](https://github.com/interagent/pliny/blob/master/lib/template/spec/spec_helper.rb#L36)? I think it's a good idea as well, I can add that check

I believe we have two options here, use the Sequel default error message

[code]
[code]

Or check if it's current and fail with our own error message

[code]

Do you think we need a custom mes

[2015-08-05 16:43] cyberdelia commented on #197
I would rather have the migration applied rather than just a check, but that could be a could be a good first step.

[2015-08-05 21:25] pedro commented on #198
YES! This looks like a really solid start to me :+1:

Can you create the wiki page yourself? I checked the settings and it should be public, so feel free to go for it!

Thanks,

[2015-08-05 21:25] #198 closed

[2015-08-05 21:28] DyegoCosta commented on #198
@pedro :+1: https://github.com/interagent/pliny/wiki/Migrations

[2015-08-06 01:28] #189 closed

[2015-08-06 01:37] pedro commented on #196
We inherited this model from Rails and it has worked nice in my experience: the basic idea is that migrations should only change structure, not data. I think this is a good approach because data migrations tend to be much slower and are a good candidate to run out of band. Not to mention you may want to use migrate data using your models so any default attributes and validations apply.

Are seeds

[2015-08-06 01:44] pedro commented on #194
Great find!

I'm in favor of a global var for this kind of thing. How would you guys feel if seeds just had a `DB` constant available to it?

I think in general that file is optimized for readability and conciseness, so I wouldn't even go with the module/method approach seeing that it doesn't answer the question of how does that method get called/receive a db instance in first place.

[2015-08-06 01:47] cyberdelia commented on #194
@pedro That would still be better than ``Sequel::DATABASES.last`` so :+1:

[2015-08-06 02:14] fdr commented on #196
Let me state the general problem, putting aside how `schema.sql` is generated:

The general problem is that one writes data migrations to, say, update a table that's mostly a lookup table, with say, twenty records in it (then over the years, you write migrations to modify, add, or remove those records systematically in some way).

When `schema.sql` is generated, it loses the elements of that looku

[2015-08-06 02:30] fdr commented on #196
Another reasonable answer is: don't brainlessly do schema dumps and delete migration files assuming it will work, particularly if diff $pg_dump_before $pg_dump_after do not match.

[2015-09-04 19:14] DyegoCosta opened #207 "Updating the rack-timeout gem break pliny"
Using rack-timeout 0.3.1

[code]

Also any new app generated from `pliny-new` will be initially broken since the `rack-timeout` isn't lock on a compatible version.

[2015-09-06 06:01] #207 closed

[2015-09-15 17:41] rwz opened #212 "Too many request-ids"
Right now platform apps are getting request-id header automatically coming from hermes. Then Pliny adds it's own request id in the request-id middleware. That means that the minimum amount of request ids per single request for a platform app is now two.

What do you think about making pliny add a new request id only if there're no request ids already? That will make it reuse hermes request id when

[2015-09-15 19:43] tmaier commented on #212
I don't know Hermes, but this sounds reasonable.

Shall the request I'd middleware be configurable which header to use or shall it even default to the header of Hermes?

[2015-09-15 19:53] ys commented on #212
Maybe this could be a flag, `use_exertnal_if_exists`.

Because there is internal request-ids and external ones. You might want internal to use your own even if somebody passes you one.

[2015-09-16 18:56] mikehale commented on #212
Right. I don't know that it is possible to distinguish between a request-id set by hermes and a request-id or list of request-ids that came from farther up stream. IIRC hermes only sets a request-id if one was not provided in the original request.

More generally it is nice to have original and per-service request ids. That makes it possible to see the entire scope of a request through all service

[2015-09-16 20:13] pedro commented on #212
I'm not super familiar with the motivation for both ids. Is it different than just looking for the global id and scoping by the component you're trying to search? Are there any other factors at play here, like not trusting clients to generate unique ids? /cc @brandur

[2015-09-16 20:51] brandur commented on #212
Right, like @mikehale said, the motivation was so that in system with a lot of re-entrant calls (i.e. Heroku), it's always possible to isolate any particular subtree of requests because each request generates a new identifier and distributes it to its children along with any identifiers that it received.

[code]

Unfortunately, Hermes makes this problematic because you can't tell if an incoming re

[2015-09-25 09:13] jomar83 commented on #119
Was really looking forward to using this for a new project. Have to use something else now cause it doesn't support jruby. :(

[2015-10-08 01:26] uhoh-itsmaciek opened #217 "Pliny strips newlines from error messages?"
We're recently moved some endpoints to Pliny and I noticed that it appears to be stripping newlines form our error messages. I've looked at the `RescueErrors` middleware and `Pliny::Errors.render`, but I can't figure out where this is coming from. Any ideas?

[2015-10-08 08:17] uhoh-itsmaciek commented on #217
Ok, after trying to repro standalone, I'm less convinced this is a Pliny issue. I'll reopen if I can repro.

[2015-10-08 08:17] #217 closed

[2015-10-12 16:51] heavysixer opened #221 "Question: Pliny and ActiveRecord"
Hi everyone,
I realize that the developers of Pliny must have made a strategic decision in not using ActiveRecord, I am just trying to understand what they are. Is it possible to use ActiveRecord instead or is there something I am not seeing about the use of Sequel.

Best Regards,
Mark

[2015-10-13 01:20] pedro commented on #221
Hi Mark,

Exactly, there are certainly good arguments for going with either, but I personally tend to pick Sequel:

- Overall it is leaner and has no dependencies
- Amazing performance gains for Postgres thanks to [sequel_pg](https://github.com/jeremyevans/sequel_pg)
- It tends to receive support for new Postgres features faster (last I recall was [jsonb](https://github.com/jeremyevans/sequel/blob

[2015-10-13 01:20] #221 closed

[2015-10-13 01:24] heavysixer commented on #221
Hi @pedro thank you for the thoughtful and detailed response. I'll go through all of these links you provided and share them with my team.

Best Regards,
Mark

[2015-10-13 04:30] bjeanes commented on #221
So so so so much this. Though, Sequel *does* have a low bus factor, which is worth considering...

[2015-10-13 21:08] heavysixer commented on #221
@pedro one additional followup, does Pliny have a convention, best practice, or suggestion for how to get these various APIS communicating in a microservice architecture? I understand that Pliny is a tool for writing APIs following a collection of best practices, but my understanding was that Heroku did this as part of their transitions to microservices. What I am missing in reading through the do

[2015-10-23 18:42] mars opened #224 "Cannot `rake db:schema:load` the result of `rake db:schema:dump`"
I'm trying to synchronize my local dev environment with a pre-existing app.

Given the **schema.sql** from `rake db:schema:dump` on the existing Pliny app, I do the following:
1. `rake db:create`
2. `rake db:schema:load`

[code]

Looking through the source for these rake tasks, it looks like [the `dump` task outputs these](https://github.com/interagent/pliny/blob/master/lib/pliny/tasks/db.rake#L10

[2015-10-23 18:46] mars commented on #224
More interesting, it looks like the **schema.sql** does actually define this missing table:
[code]

…yet it is not visible to the `INSERT` statements.

[2015-10-23 19:12] mars commented on #224
Further investigation reveals that the underlying **pg_dump** outputs `SET search_path = …` statements to move between schemas.

Inserting into **schema.sql**:

    SET search_path = public, pg_catalog;

…before the `INSERT INTO "schema_migrations" …` commands allows them to complete successfully.

[2015-10-23 20:55] #224 closed

[2015-11-25 16:39] soulim opened #230 "Database connection issues"
Hey guys,

I'm experiencing weird database connection issues. From time to time requests fail because of Sequel exceptions:

* `Sequel::DatabaseDisconnectError: PG::ConnectionBad: PQconsumeInput() SSL connection has been closed unexpectedly`
* `Sequel::DatabaseConnectionError: PG::ConnectionBad: FATAL:  remaining connection slots are reserved for non-replication superuser connections`

I use pliny

[2015-11-25 20:47] soulim commented on #230
Seems like upgrade to `sequel 4.28.0` solved the problem. Thank you a lot for making great things! :smile:

[2015-11-25 20:47] #230 closed

[2015-11-25 20:53] pedro commented on #230
wow, thanks for filling this up – maybe we can bump Sequel in Pliny so no one else runs into this.

How did you realize the bump could help?

[2015-11-25 22:20] soulim commented on #230
Can't say what exactly cased the problem :disappointed: But I could provide a bit more details of this story.

Before I've opened this issue on GitHub, I've tried different configurations in order to see if number of pools or possible connections could help, but didn't have any luck.

Also I've tried to reconnect to the database on `before_fork` Puma hook instead of `on_worker_boot`, as it's sugge

[2015-11-26 01:30] pedro commented on #230
No worries, this is already super helpful – thanks for sharing!

Out of curiosity, did bumping sequel also update the "pg" gem version?

[2015-11-26 09:25] soulim commented on #230
Yes, now the app uses `sequel (4.28.0)` and `pg (0.18.4)`. Do you think the issue might be related to `pg` gem?

[2015-11-27 10:00] soulim commented on #230
There's a quick and I hope last update from me. I was wrong thinking that upgrade of `sequel` and `pg` gems helped with the issue. It didn't actually, but there's still a light at the end of the tunnel :smile:

Yesterday I decided to make sure everything *really* works and did a tiny stress test of the app. I know it does not run on production tier, but the test was not so heavy. So I used `ab` to

[2015-11-27 10:00] gudmundur commented on #212
@brandur I'm assuming that if you provide a `X-Request-Id` header, Hermes won't assign one.

[2015-11-27 10:04] gudmundur opened #231 "Volunteering to help out with Pliny"
Hi @pedro, @brandur and others that are contributors to Pliny.

I'm hereby offering my help in maintaining Pliny and being one of the go to people within Heroku for all things Pliny.

Thanks,
Guðmundur Bjarni

[2015-11-27 10:11] dmathieu commented on #231
:+1:

[2015-11-27 12:16] ys commented on #231
GUDMUNDUR PRESIDENT

[2015-11-27 13:13] dmathieu commented on #231
![](http://cdn.meme.am/instances/500x/65716438.jpg)

[2015-11-30 19:49] brandur commented on #231
@gudmundur Amazing! Thank-you :)

I'm still a big fan of the ideas behind this project, but am a little frustrated by how little time that I've been able to apply to it recently.

I just talked this over with Pedro and have added you to the contributors list.

[2015-11-30 19:49] #231 closed

[2015-11-30 19:53] gudmundur commented on #231
Yay! Thanks guys.

[2015-11-30 19:53] pedro commented on #231
+999 welcome!

[2015-12-12 11:08] gudmundur opened #233 "RFC: Add app_name and source to default config"
For most pliny apps I've created, I've added `Config.app_name` and `Config.source` to track the app and environment. This is useful for setting up a default log context and measuring values.

With those two config values, we can add them as defaults to [`config/initializers/log.rb`](https://github.com/interagent/pliny/blob/6c8c968cff894607a637be1e4187f55538dc6b2d/lib/template/config/initializers/l

[2015-12-13 01:42] pedro commented on #233
+1 for app! We can infer from `pliny-new` and set that for new pliny apps.
What is `source`, the process name?

[2015-12-13 14:50] gudmundur commented on #233
@pedro `source` is the stage it's running in, i.e. `development`, `staging` or `production`.

[2015-12-13 22:50] pedro commented on #233
ooo Pliny already has it – we call it `deployment` (though it needs better documentation as everything else)

[2015-12-17 13:54] dmathieu opened #235 "RFC: website documentation"
I believe one of the main reasons pliny isn't getting a lot of visibility at the moment is the difficulty there is to start understanding how it works and how to use it.
There is a [wiki](https://github.com/interagent/pliny/wiki) documentation, but I don't think many people are led to it at the moment.

**Proposal**: A simple static website including the current documentation.
This website can be

[2015-12-17 14:27] jellybob commented on #235
While more documentation would be welcome, at least for me the reason I wasn't using Pliny was that I had no idea it existed, rather than difficulty getting started with it. The current documentation was great at getting me going, and introducing the core concepts, I just wish I'd found Pliny months ago when we settled on Grape for our internal APIs at work!

[2015-12-17 14:33] dmathieu commented on #235
@jellybob thank you for your feedback. How did you find out about pliny, and what would have helped in finding it sooner?

[2015-12-17 14:42] jellybob commented on #235
I only found it because I happened to be poking around the interagent organisation after looking into Heroics - I'm pretty sure I've seen no mention at all of Pliny outside this repository. A quick Google shows that even when explicitly searching all that comes up is the repository, and a YouTube video from March.

[2015-12-17 14:49] dmathieu commented on #235
That seems like an additional reason for setting up an actual documentation/guides place to improve our SEO.

[2016-01-07 10:09] gudmundur opened #237 "The PLINY_ENV default bubbles to RACK_ENV"
If `PLINY_ENV` is left unset on staging or production environments, it causes Puma to override `RACK_ENV` to `development`, [see here](https://github.com/puma/puma/blob/e81a1326ea7a791d7729b7674b5bebf9409657aa/lib/rack/handler/puma.rb#L21-L23).

What is the motivation behind `PLINY_ENV` and how should it differ from `RACK_ENV`? Should it its default be equal to `ENV['RACK_ENV']`?

[2016-01-07 17:59] dmathieu commented on #237
PLINY_ENV was discussed and introduced in #138

[2016-01-07 19:03] gudmundur commented on #237
@dmathieu Thanks for digging this up.

[2016-01-07 21:33] brandur commented on #235
+1! The docs for Pliny are incredibly lacking. Thanks for getting this thread started @dmathieu! (And sorry about the really slow responses on all these issues as of late.)

Before getting too deep into the technology: did you have any ideas around what the documents might look like and what kind of things we'd talk about? e.g. Would we try to write a guide like Rails has, or stick to a more basic

[2016-01-07 23:48] dmathieu commented on #235
Thank you @brandur.
My thinking is to port the current documentation for now, and iterate on that.
I don't think rails guides-style thing is necessary, as pliny is much smaller.

I'd very much like something like screencasts explaining basic or a bit more specific things, the overall idea being to get more adhesion on the project by having more visibility and making it easier for newcomers to star

[2016-01-08 00:17] brandur commented on #235
Cool! Sounds reasonable to me.

Yeah, agreed. Well, hopefully we can expand once the basic pieces are in place.

[2016-01-08 00:53] pedro commented on #235
Hey!

I like how wikis are easy to update and maintain, although wouldn't object a new site as long as it's still easy to update (and on that front I agree with you a folder on this repo is better than a whole diff repo).

And @jellybob has a great point, I think having blog posts and other sites covering Pliny would really help us get some traction. I personally just refrained from that so far be

[2016-01-08 02:34] brandur commented on #235
+1! Keeping the bar to contribution (especially for documentation) is key.

One thing that we should probably make sure of is that we're moving to a new system for the right reason. If it's just that our SEO is bad, we may have some other possible avenues for improvement (even if it's just bigger links to it in the README and more numerous links elsewhere).

[2016-01-08 20:37] gudmundur commented on #235
Hi everyone,

Thanks @dmathieu for taking this initiative. :fireworks:

I've been thinking over this in the past few days and gathering my thoughts on this. If I were the ruler of all things pliny, I think I'd add a `docs` folder, and move all of the Wiki stuff in there as Markdown. It has the benefit of being versioned along with the code that goes with it. To make sure the API documentation stay

[2016-01-13 13:52] dmathieu commented on #235
I like that idea of having markdown documentation within this repository and an external one doing the compiling and app deploy.

[2016-01-30 03:15] dpiddy commented on #233
Closed by https://github.com/interagent/pliny/pull/240 and https://github.com/interagent/pliny/pull/243?

[2016-01-30 15:42] brandur commented on #233
@dpiddy Good call! Thank-you :)

[2016-01-30 15:42] #233 closed

[2016-01-31 19:37] gudmundur commented on #233
Thanks, I had forgotten about this issue.

[2016-02-06 20:40] timlinquist opened #247 "Default migrate task does not clear active databases"
The default migration task does not call Sequel::DATABASES.clear to remove the disconnected db instance from the global array. This later is causing an error downstream for me from DatabaseCleaner because it needs to know which connection to use if we have more than one active. It is a little funky that DatabaseCleaner is doing this. However I thought I'd file the issue for feedback since some of

[2016-02-09 21:05] heavysixer opened #248 "update PRMD dependency"
Would it be possible to have the Pliny gem use a more current version of PRMD? Right now we are bound to 7, but PRMD is at 11+ now.

[2016-02-09 21:09] selectport commented on #248
FWIW, in a modified fork, i simply bumped the gemspec dependency to :

spec.add_dependency "prmd",  "~> 0.11", ">= 0.11.4"

and while far from exhaustive in my new project, i've not hit any issues with that version of prmd yet.

[2016-02-09 21:10] gudmundur commented on #248
Yeah, excellent point. Would you mind opening up a PR for it? I'll get it reviewed and merged in the next couple of days.

@geemus Any objections?

[2016-02-09 21:12] rwz opened #249 "Default Rollbar reporting approach is unsafe"
By default Pliny uses Rollbar's Sinatra middleware that reports all the things, including cookies and HTTP headers (including authorization).

That doesn't seem to be very safe from a security standpoint since it makes it very easy to leak credentials this way. I believe pliny should have a configurable Rollbar context where developer has control over what is included into reported error metadata,

[2016-02-09 21:13] rwz commented on #249
It could probably be a pre-generated middleware that does the reporting and encourages the end-user to modify it as necessary.

[2016-02-09 21:29] selectport commented on #248
Not sure if that was for me or @heavysixer, but since i had it available - PR submitted.

[2016-02-09 21:40] heavysixer commented on #248
Thanks @selectport and @gudmundur !

[2016-02-09 21:43] geemus commented on #248
Definitely, will merge now.

[2016-02-09 21:44] #248 closed

[2016-02-09 22:07] brandur commented on #249
@rwz: I think that Rollbar scrubs a pretty good collection of fields by default (which will probably be good enough for most users):

https://github.com/rollbar/rollbar-gem#data-sanitization-scrubbing

You can also configure more in there as shown. Should be easy to drop that configuration into an initializer file.

[2016-02-09 22:13] rwz commented on #249
@brandur good point, it might be good enough for most users. Although I'd personally definitely prefer a whitelist approach to blacklisting/scrubbing.

[2016-02-09 22:13] #249 closed

[2016-02-10 08:32] gudmundur commented on #248
Thanks for reporting @heavysixer and thanks for submitting a PR @selectport!

[2016-02-10 18:22] heavysixer commented on #248
Awesome, do you know when this will be pushed to a release of Pliny? I am wondering when I can use it in the wild.

[2016-02-11 07:31] gudmundur commented on #248
@heavysixer woops, we missed releasing the gem. I've released `0.15.1` now.

[2016-02-21 16:19] johnbeynon commented on #235
Just to add my .2c here - I think one major reason for lack of adoption is authentication is missing, the wiki article doesn't exist. Rails has Devise and Doorkeeper, in Heroku we use an existing oAuth provider but a new project starting from scratch needs its own auth mechanism.

[2016-03-01 23:01] geemus opened #256 "schema outputted from generating scaffold doesn't do irregular plurals correctly"
endpoints get proper plurals, but schemata don't (I tried with delivery and got "deliverys" in the schema).

[2016-03-01 23:01] geemus commented on #256
I was going to fix it, but was having trouble tracking down how the schema portion of this works exactly.

[2016-03-07 09:15] dmathieu commented on #237
I believe this can be closed.

[2016-03-07 13:17] gudmundur commented on #237
@dmathieu thanks for pointing that out.

[2016-03-07 13:17] #237 closed

[2016-03-07 20:23] #247 closed

[2016-03-08 08:26] gudmundur commented on #235
@johnbeynon Are you thinking that we should provide a description of how to set Pliny up with a OAuth2 provider or how to use something like OmniAuth with it?

[2016-03-11 12:17] neilmiddleton commented on #235
I think one issue here is there's a lack of *any* examples really.  Even a simple hello world sort of app using a mediator/endpoint and model.  Even something simple will go a long way.

However, documentation is useless without eyeballs on it, so without awareness, docs aren't amazeballs.  Things like [this](https://www.ruby-toolbox.com/search?utf8=%E2%9C%93&q=pliny) description isn't going to ex

[2016-04-13 07:46] gudmundur commented on #212
I think this also boils down to trust, can Pliny trust the `Request-Id` that was passed to it? A malicious user, can always provide the same `Request-Id`, making it hard to parse what happened in a single request. Without adding mechanisms to sign the header, and verifying the signature, I think leaving this as is makes sense. What do you think @rwz?

[2016-04-13 07:53] gudmundur commented on #197
I like the idea, yet I'm reluctant to running the migrations automatically. If we do, then what should we do with the `-development` database? Often you'll also want your tests to pass, even though you haven't migrated the database. The example I'm thinking here is where you have deployed things, but migrations haven't run yet.

[2016-04-13 07:55] gudmundur commented on #194
Closing this issue since I'm assuming https://github.com/interagent/pliny/pull/223 has properly addressed this.

[2016-04-13 07:55] #194 closed

[2016-04-13 13:56] cyberdelia commented on #197
The main goal would be to avoid running tests against an outdated schema. What we currently do is:

[code]

[2016-04-13 16:27] rwz commented on #212
@gudmundur yeah, I guess. I never actually thought about this from the "malicious user" perspective. Makes sense.

[2016-04-13 16:27] #212 closed

[2016-04-18 15:30] geemus opened #263 "heroku instructions?"
Might be nice to have some extra heroku-specific instructions. In particular, if I recall, the bin/setup stuff bombs out because it tries to do stuff heroku-postgres doesn't provide permissions for (drop-table maybe?). It would be great if this worked somehow in the heroku context, but barring that a small section in the instructions would be nice. Also possible I'm just totally missing something

[2016-04-18 15:36] gudmundur commented on #263
Yeah, I agree. I'll take a stab at better setup instructions soon. I feel we're mostly lacking on the documentation front right now.

[2016-04-18 15:50] geemus commented on #263
Yeah. I had thought I might try to take a stab myself, but was concerned I might just be doing it wrong. So I thought I would at least point out where I got caught up in case it wasn't on your radar. Thanks!

[2016-05-25 17:10] dmathieu opened #270 "Swagger/OpenAPI vs prmd?"
I have been discussing this with several people, and I know there's been additional discussions as well, so I want to start a formal one here.

prmd is quite good, but we're the only ones maintaining it. [OpenAPI](https://openapis.org/) and [Swagger](http://swagger.io/) have been getting more and more visibility recently, and using them would make a lot of sense as well as facilitate documentation

[2016-05-25 17:11] dmathieu commented on #270
My thinking is that it wouldn't cost us much to support both prmd and swagger right now, and to build tools making migrations (from prmd to swagger, not the other way around) easier.

[2016-05-25 17:33] geemus commented on #270
Yeah, OpenAPI/Swagger 2.0 addressed many (if not all) of the concerns I had which made me hesitant to adopt as we undertook prmd initially. With that out of the way, as well as a much broader ecosystem of support than it had at that time, I would feel much more comfortable with it (and alleviating the burden on us to maintain this, instead helping the broader community seems like a big win). I def

[2016-05-25 18:02] dmcinnes opened #271 "pliny-update copies raw erb files"
Ran into this problem upgrading telex. The .env and app.json files were copied over from the template instead of being evaluated.
I looked into submitting a patch, but they need the app name and I'm not entirely sure the best way to retrieve that on an upgrade.

[2016-05-26 00:01] brandur commented on #270
Right on. Although the API description space is still far from having a total winner, more recent developments have had the effect of making OpenAPI more attractive (opening the Swagger spec and support from the Linux Foundation), while adoption and continued development of Hyper-schema has been middling at best. I'd make the case that moving in the direction of OpenAPI spec is the right thing to

[2016-05-26 09:07] gudmundur commented on #270
These discussions have been going on OOB in several places. It does feel that prmd, heroics and committee haven't been getting as much love as they used to, so I'm +1 for exploring this.

[2016-05-26 14:45] geemus commented on #270
@brandur 👍  that aligns with my thinking and research as well. Just let me know if I can help support the committee or other work.

[2016-05-26 15:55] geemus commented on #271
Not super familiar with the context, but can we do a load/merge or something?

[2016-05-26 16:18] dmathieu commented on #271
I was the one to move template generation from regex replacement to erb a few months ago. I'll look into this issue.

[2016-08-26 08:33] gudmundur opened #277 "Make use of APP_ENV"
Sinatra recently merged a change which adds a new `APP_ENV`. It probably makes sense to deprecate `PLINY_ENV` and use this instead.

See: https://github.com/sinatra/sinatra/pull/984

[2016-08-28 03:05] brandur commented on #277
@gudmundur +1. Good call.

Strangely, I also happened to stumble across that exact Sinatra issue a few days ago.

[2016-09-13 17:22] naaman opened #278 "Recommended Approach for Pliny App with no DB"
I just created a small service that has no need for a database; the service uses REST APIs as its backend. To clean up dependencies and operations, I had to remove a few things from the generated pliny app:

- db related gems, `pg` and `sequel`
- a handful of config
- the db folder
- pliny tasks that try to run `db` tasks by default

Does it make sense to provide a `--no-db` option for `pliny-new`

[2016-09-13 17:43] pedro commented on #278
+1. We shouldn't go crazy on these `pliny-new` options (eg: no `--use-activerecord` 😬 ) but no db is definitely a use case we've seen before.

[2016-09-13 21:16] brandur commented on #278
I'm a light +1 as long as we can implement the new `pliny-new` path in such a way that it's unlikely that we'll see any major regressions.

Generally, it seems like a useful enough feature, but I would guess one that's seen infrequently enough that we could probably get away without a special installation path if no one's too keen on tackling the patch.

[2016-09-13 21:37] naaman commented on #278
Yea, I don't know what the general usage is, but it's the second time I've had to do it (in ~1 year). If I get around to it (we're on a dreamforce tear atm), I might submit a patch and we can mull it over from there.

That said, anything glaring I'm missing from the list above? I think the one thing I forgot to mention was removing the DB transaction stuff from the specs.

[2016-10-18 17:20] brandur commented on #278
@naaman Ah man, sorry for the late reply. My email etiquette's been terrible lately.

I think you mostly got it. I just took a look through the templates folder and a few others jumped out at me:

* `models/` + associated spec folder.
* `migrations/`.

I _think_ that's it though.

[2016-10-25 22:08] #277 closed

[2017-01-06 20:13] mathias opened #296 "No rubocop rake task on deploy"
Seeing this when deploying on Heroku:

[code]

Do we need to guard unless it is in dev or test environment when loading that file?

[2017-01-06 20:14] mathias commented on #296
Ah, I see we could just copy this rake task style: https://github.com/interagent/pliny/blob/master/lib/template/lib/tasks/spec.rake#L2-L7

[2017-01-09 10:49] gudmundur opened #298 "A fresh pliny project without models won't start"
After we merged #287 a freshly created Pliny project won't start without any models. In most cases I think it's fair to assume that a project will have models, but I'd personally prefer if we could start without making code changes.

[code]

@cyberdelia @brandur What do you guys think?

[2017-01-09 11:14] gudmundur commented on #296
@mathias I've PR'ed a fix to this issue.

[2017-01-09 15:34] brandur commented on #298
Yeah, it definitely seems correct to be able to start without models.

@cyberdelia Was #287 in response to some specific problem that you saw in your projects? I wonder if there's a different way that we could solve it.

[2017-01-09 21:20] fdr opened #301 "More flexibility in initializers to avoid duplication in `puma.rb`"
I recently upgraded some gems and found that Sidekiq began complaining and crashing `web` processes because of use-after-fork of Redis file descriptors.

This was fixed by duplicating my sidekiq-configuring initialize code into `puma.rb` (in the same place where Sequel has `disconnect` run on its connection pool) but I can't help but feel there is some anti-feature or missing pattern here that Sid

[2017-01-10 10:08] #296 closed

[2017-02-08 09:31] gudmundur opened #304 "Add serializer information to canonical log lines"
Add arity and serialization times to canonical log lines.

[2017-05-09 19:00] cyberdelia commented on #298
The idea was to avoid ``initializer.rb`` to grow and and point to paths that are not existing anymore. We could probably have a ``require`` and a ``require!``?

[2017-05-29 05:09] gudmundur commented on #304
Closed with #306.

[2017-05-29 05:09] #304 closed

[2017-05-31 09:53] aamederen opened #313 "Error during update from 0.25.0 to 0.25.1"
I have an existing app with pliny 0.25.0. When I run `pliny-update` I get an error as following:

[code]

Nothing has changed in code after running `pliny-update`, including Gemfile.lock.

[2017-05-31 11:42] gudmundur commented on #313
Looking at [the diff between v0.25.0 and v0.25.1](https://github.com/interagent/pliny/compare/v0.25.0...v0.25.1), the only changes were within Pliny itself, not in the template which we apply to your project. The `error: unrecognized input` line stands out, which I assume [happens here](https://github.com/interagent/pliny/blob/83f011fa4ae4193853421ee6f69014a34e683c53/lib/pliny/commands/updater.rb#

[2017-05-31 13:01] aamederen commented on #313
Thanks @gudmundur. Seeing a false error confused me. Maybe showing a message indicating that nothing to change in code can be considered.

[2017-08-25 00:34] rhyselsmore opened #315 "Feedback Request: Expose application to seeds"
Something that has bothered me for a while is the lack of application/constants/environment available during seeds. It is tedious to require manually, and the lack of access to models during my seeds makes me sad.

I did some exploration of using Sequel sharding + some other hacks to try and make the `db:seed` command support multiple databases (as when seeding locally), however it proved to be a

[2017-10-27 22:37] fdr opened #316 "Gem "oj" 3.0 breaks "encode""
I've noticed a fairly large behavioral change in `oj` that breaks a number of old once-working code. It seems to take place in the changes for 3.0.

Among the causalities is `encode`, even when passed a hash in the normal way in the serializers. I am using the newest released pliny.

For example, it used to be that Sequel models would be automatically serialized as their values. Now the `to_s` rep

[2017-10-27 22:53] brandur commented on #316
Would it be correct to say that the root of the problem probably has something to do with previously implicit serialization of Sequel models?

[2017-10-27 23:14] fdr commented on #316
I don't think so, because my broken `encode` expressions involve hashes.

[2017-10-27 23:14] fdr commented on #316
Although, maybe.

[2017-10-27 23:21] fdr commented on #316
No, I think you are right. I thought I caught one where it was *just* a hash, but nope. It's probably all root-caused by serialization of Sequel models.

[2017-10-27 23:59] brandur commented on #316
Ah nice. Yeah, I only ask because it would be surprising if `oj` broke serialization of hashes containing only arrays/hashes and primitive types — that would have to be considered a big bug I think. Breaking undefined behavior around encoding more complex objects would be totally plausible though.

[2017-10-28 00:02] fdr commented on #316
On Fri, Oct 27, 2017 at 4:59 PM Brandur <notifications@github.com> wrote:

Actually, I take it back. Something is amiss. I'll dig in.

[2017-10-30 21:10] fdr commented on #316
Took a while, but here it is. https://github.com/ohler55/oj/issues/446

[2017-10-30 21:10] #316 closed

[2017-10-30 21:22] brandur commented on #316
Nice!

I'll leave it up to the maintainers over there to do what they will, but general comment: it's probably not a good idea to rely upon undefined behavior in a library like `oj` — serializing a complex object for example. You and I both know that serializing a `JSONBHash` as if it were just a normal hash is a pretty sensible thing to do, but it would be a boundaries violation for `oj` to under

[2017-10-30 21:26] fdr commented on #316
It's not really undefined: with `use_to_json` set, it should call that symbol.

[code]

[2017-10-30 21:30] brandur commented on #316
Ah, cool. Well you are still somewhat reliant in that case of `JSONBHash` properly implementing `#to_json` or a monkey patch to provide your own implementation. As long as you know what you are doing though :)

[2017-10-30 21:48] fdr commented on #316
Well, it delegates `to_hash`. As it turns out, it was neither of these things, but a difference in what `compat` means entirely that MultiJSON doesn't understand. https://github.com/ohler55/oj/issues/446

[2017-12-05 15:27] ransombriggs opened #321 "Add zulu time formatting helpers"
To get `Time` objects into a zulu formatted string various pliny apps have defined identical helpers that could be consolidated in pliny.  I started this issue rather than filing a PR since there are some approach questions that we should probably discuss.

The `time_v3` helpers are usually defined in a module which is mixed into serializers and sometimes mediators if they are publishing events.

[2017-12-06 09:25] gudmundur commented on #321
@ransombriggs Thanks for the thorough details on this issue.

As for which implementation to use, it's a tough one. I'm not sure what the reasoning behind the time precision is, maybe @rwz can get into that? As Pliny defaults to using `DateTime` in serializers, I'd say we should stick to that. Higher precision can be provided for the event envelope specifically.

I agree that the `time_v3` name is

[2017-12-06 16:03] ransombriggs commented on #321
@gudmundur I am down with having it available as a class method on the serializer base class, but would like to continue leaving it as a module that I mix into the serializer base.  I have seen usage in mediators as well, specifically for submitting jobs with a string timestamp and would like to explicitly include the helper there.

[2017-12-06 23:45] ransombriggs commented on #321
@gudmundur pushed up https://github.com/interagent/pliny/pull/322

[2018-03-04 17:55] halorgium commented on #298
@cyberdelia @brandur could the model generator remind the user to add the `require` line if it doesn't exist? i encountered this recently and resolved it by making a model, but i could imagine starting a prototype without any models at all.

[2018-03-12 18:26] brandur commented on #298
Yeah, good question. This certainly seems like kind of a bad state to leave the project in.

I'm not _super_ crazy about just adding some kind of note just because I feel like most scripts have enough output these days that users are more or less acclimated to ignoring them.

What do you guys think about adding an `allow_empty: false` optional parameter to `require!` that would appear as `allow_em

[2018-04-18 13:59] joshwlewis commented on #316
Just a note for future readers:

My team has been seeing similar issues when upgrading to `oj` version 3 or greater. `oj`'s `:compat` mode (which is the mode `multi_json` uses for `oj`) was changed substantially in version 3, where it prefers `#to_json` rather than `#to_hash` to serialize objects. We ended up solving it by configuring `multi_json` to use a `:custom` mode for `oj` that prefers `#to

[2020-06-18 15:50] #197 closed

[2022-08-06 21:42] tsrivishnu commented on #270
@brandur @geemus I have been trying to find some tools that could help migration from JSON Hyper-schema to OpenAPI spec. Are there any that you could share?

[2022-08-06 23:11] brandur commented on #270
@tsrivishnu I don't know of anything like that personally, but pretty much the entirety of the resource/object section should be transcribable directly, and you just have to massage the API endpoint list somewhat. I've written two private OpenAPI generators now for my last two companies and I'd estimate they took me ~4 hours a piece — so it's definitely a bit of a project, but a relatively small-i

[2022-08-08 16:18] geemus commented on #270
@tsrivishnu Yeah, similar for me. I don't know of a generic solution available for this, but it should hopefully be fairly straightforward to address it directly in a particular case.